
a {
    color: #149f8e;
}

html {
    position: relative;
    min-height: 100%;
}

h1 {
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

nav .container .pagename {
    font-family: Raleway;
    font-size: 22px;
    top: 1px;
}

nav .container .current {
    background-color: transparent;
    color: #149f8e;
}

p {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Raleway;
    font-size: 64px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 64px;
}

pre {
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5667px;
}


/* Colors */

.bg-accent {
    background-color: #149f8e;
}

.bg-dark {
    background-color: #3a3a3a;
}

.bg-light {
    background-color: #ddd;
}

.bg-shaded {
    background-color: #cacdcf;
}

.fg-accent {
    color: #149f8e;
}

.fg-dark {
    color: #3a3a3a;
}

.fg-light {
    color: #ddd;
}

.fg-shaded {
    color: #9994a6;
}

/* Height */

.min-h-16 {
    min-height: 16rem;
}


/* Width */

.max-w-60 {
    max-width: 60%;
}

/* Alignment */

.text-justify {
    text-align: justify;
}

.v-center {
    text-align: center;
}

.v-right {
    text-align: right;
}


/* Classes */

.bottom-line {
    border-bottom: 2px solid;
    margin-bottom: 16px;
    padding-bottom: 8px;
}

.col .container {
    margin: 0 20px;
    width: auto;
}

.footer {
    margin-top: 16px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.hero {
    padding: 32px;
    border-radius: 16px;
    margin-top: 1em;
}

.img-inline {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav div:before {
    background: #0000;
    border-color: #0000;
}


