body {
	background-color: #eee;
	color: #444;
	font-size: 18px;
	line-height: 1.6;
	margin: 40px auto;
	max-width: 650px;
	padding 0 10px;
}

h1, h2, h3 {
	line-height: 1.2;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #444;
}
nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #111;
}

.inactive {
	color: #999;
}
